
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<div style="width: 1440px; height: 1024px; position: relative; background: white">
  <div style="width: 1440px; height: 107px; left: 0px; top: 95px; position: absolute; background: #1DC6D2"></div>
  <div style="left: 504px; top: 115px; position: absolute; color: white; font-size: 64px; font-family: Archivo Black; font-weight: 400; word-wrap: break-word">WebBanking</div>
  <div style="width: 883px; height: 48px; left: 278px; top: 307px; position: absolute; color: #6E6E6E; font-size: 48px; font-family: Archivo; font-weight: 700; word-wrap: break-word">How do you evaluate the desktop app?</div>
  <div data-svg-wrapper style="left: 391px; top: 414px; position: absolute">
  <svg width="98" height="79" viewBox="0 0 98 79" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49 0L60.4502 30.0578L97.5039 30.0578L67.5268 48.6345L78.9771 78.6922L49 60.1155L19.023 78.6922L30.4732 48.6345L0.496117 30.0578L37.5498 30.0578L49 0Z" fill="#1DC6D2"/>
  </svg>
  </div>
  <div data-svg-wrapper style="left: 530px; top: 414px; position: absolute">
  <svg width="98" height="79" viewBox="0 0 98 79" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49 0L60.4502 30.0578L97.5039 30.0578L67.5268 48.6345L78.9771 78.6922L49 60.1155L19.023 78.6922L30.4732 48.6345L0.496117 30.0578L37.5498 30.0578L49 0Z" fill="#1DC6D2"/>
  </svg>
  </div>
  <div data-svg-wrapper style="left: 669px; top: 414px; position: absolute">
  <svg width="98" height="79" viewBox="0 0 98 79" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49 0L60.4502 30.0578L97.5039 30.0578L67.5268 48.6345L78.9771 78.6922L49 60.1155L19.023 78.6922L30.4732 48.6345L0.496117 30.0578L37.5498 30.0578L49 0Z" fill="#1DC6D2"/>
  </svg>
  </div>
  <div data-svg-wrapper style="left: 808px; top: 414px; position: absolute">
  <svg width="98" height="79" viewBox="0 0 98 79" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49 0L60.4502 30.0578L97.5039 30.0578L67.5268 48.6345L78.9771 78.6922L49 60.1155L19.023 78.6922L30.4732 48.6345L0.496117 30.0578L37.5498 30.0578L49 0Z" fill="#1DC6D2"/>
  </svg>
  </div>
  <div data-svg-wrapper style="left: 947px; top: 414px; position: absolute">
  <svg width="98" height="79" viewBox="0 0 98 79" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M49 0L60.4502 30.0578L97.5039 30.0578L67.5268 48.6345L78.9771 78.6922L49 60.1155L19.023 78.6922L30.4732 48.6345L0.496117 30.0578L37.5498 30.0578L49 0Z" fill="#1DC6D2"/>
  </svg>
  </div>
  <div style="width: 224px; height: 67px; left: 608px; top: 568px; position: absolute; background: #1DC6D2; border-radius: 33.50px"></div>
  <div style="width: 764px; height: 67px; left: 338px; top: 742px; position: absolute; background: rgba(217, 217, 217, 0); border-radius: 33.50px; border: 4px #1DC6D2 solid"></div>
  <div style="left: 690px; top: 580px; position: absolute; color: white; font-size: 40px; font-family: Archivo; font-weight: 400; word-wrap: break-word">OK</div>
  <div style="left: 606px; top: 754px; position: absolute; color: #6E6E6E; font-size: 40px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Terms of use</div>
</div>

