
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<div data-layer="Desktop - 2" className="Desktop2" style={{width: 1440, height: 1024, position: 'relative', background: 'white'}}>
  <div data-layer="Rectangle 32" className="Rectangle32" style={{width: 1440, height: 107, left: 0, top: 95, position: 'absolute', background: '#1DC6D2'}} />
  <div data-svg-wrapper data-layer="icon_profile" className="IconProfile" style={{left: 59, top: 297, position: 'absolute'}}>
  <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M22.4995 44C28.0895 44 33.1635 41.8716 36.9905 38.3672C36.7755 36.3462 35.4855 34.3683 33.185 32.8203C27.337 28.9074 17.705 28.9074 11.814 32.8203C9.5135 34.3683 8.2235 36.3462 8.0085 38.3672C11.8355 41.8716 16.9095 44 22.4995 44ZM22.4995 44C34.3736 44 44 34.3732 44 22.4994C44 10.6256 34.3741 1 22.5 1C10.6259 1 1 10.6256 1 22.4994C1 34.3732 10.6254 44 22.4995 44ZM22.7574 24.1774C22.6069 24.1559 22.4134 24.1559 22.2414 24.1774C18.4574 24.0484 15.4474 20.9525 15.4474 17.1471C15.4474 13.2557 18.5864 10.0953 22.4994 10.0953C26.3909 10.0953 29.5514 13.2557 29.5514 17.1471C29.5299 20.9525 26.5414 24.0484 22.7574 24.1774Z" stroke="#1F2023" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  </div>
  <div data-layer="Numele Prenumele" className="NumelePrenumele" style={{left: 145, top: 284, position: 'absolute', color: 'black', fontSize: 36, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'}}>Numele Prenumele</div>
  <div data-layer="IDNP" className="Idnp" style={{left: 145, top: 376, position: 'absolute', color: 'black', fontSize: 36, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'}}>IDNP</div>
  <div data-layer="Adresa" className="Adresa" style={{left: 145, top: 456, position: 'absolute', color: 'black', fontSize: 36, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'}}>Adresa</div>
  <div data-layer="Numar de telefon" className="NumarDeTelefon" style={{left: 145, top: 545, position: 'absolute', color: 'black', fontSize: 36, fontFamily: 'Inter', fontWeight: '400', wordWrap: 'break-word'}}>Numar de telefon</div>
  <div data-layer="paper" className="Paper" style={{width: 54, height: 54, left: 55, top: 361, position: 'absolute'}}>
    <div data-svg-wrapper data-layer="Vector" className="Vector" style={{left: 10.12, top: 5.06, position: 'absolute'}}>
    <svg width="36" height="46" viewBox="0 0 36 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.875 11.1875H14.625M7.875 23H28.125M7.875 29.75H28.125M7.875 36.5H14.625M4.5 44.9375H31.5C33.364 44.9375 34.875 43.4265 34.875 41.5625V4.4375C34.875 2.57354 33.364 1.0625 31.5 1.0625H4.5C2.63604 1.0625 1.125 2.57354 1.125 4.4375V41.5625C1.125 43.4265 2.63604 44.9375 4.5 44.9375Z" stroke="#2E4454" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    </div>
    <div data-layer="vector" className="Vector" style={{width: 3.38, height: 3.38, left: 35.44, top: 13.50, position: 'absolute', background: '#2E4454', borderRadius: 9999, border: '1.50px #2E4454 solid'}} />
  </div>
  <div data-layer="WebBanking" className="Webbanking" style={{width: 267, height: 34, left: 39, top: 50, position: 'absolute', color: 'white', fontSize: 36, fontFamily: 'Archivo Black', fontWeight: '400', wordWrap: 'break-word'}}>WebBanking</div>
  <div data-layer="Profile" className="Profile" style={{width: 119, height: 34, left: 660, top: 132, position: 'absolute', color: 'white', fontSize: 40, fontFamily: 'Archivo', fontWeight: '300', wordWrap: 'break-word'}}>Profile</div>
  <div data-layer="Group 44" className="Group44" style={{width: 764, height: 67, left: 338, top: 870, position: 'absolute'}}>
    <div data-layer="Rectangle 34" className="Rectangle34" style={{width: 764, height: 67, left: 0, top: 0, position: 'absolute', background: 'rgba(217, 217, 217, 0)', borderRadius: 33.50, border: '4px #1DC6D2 solid'}} />
    <div data-layer="Update the data" className="UpdateTheData" style={{left: 241, top: 12, position: 'absolute', color: '#6E6E6E', fontSize: 40, fontFamily: 'Archivo', fontWeight: '400', wordWrap: 'break-word'}}>Update the data</div>
  </div>
  <div data-layer="Line 37" className="Line37" style={{width: 1318, height: 0, left: 122, top: 348, position: 'absolute', border: '3px #1DC6D2 solid'}}></div>
  <div data-layer="Line 41" className="Line41" style={{width: 1318, height: 0, left: 122, top: 609, position: 'absolute', border: '3px #1DC6D2 solid'}}></div>
  <div data-layer="Line 38" className="Line38" style={{width: 1318, height: 0, left: 122, top: 261, position: 'absolute', border: '3px #1DC6D2 solid'}}></div>
  <div data-layer="Line 39" className="Line39" style={{width: 1318, height: 0, left: 122, top: 435, position: 'absolute', border: '3px #1DC6D2 solid'}}></div>
  <div data-layer="Line 40" className="Line40" style={{width: 1318, height: 0, left: 122, top: 522, position: 'absolute', border: '3px #1DC6D2 solid'}}></div>
  <div data-svg-wrapper data-layer="Arrow 6" className="Arrow6" style={{left: 103, top: 154, position: 'absolute'}}>
  <svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.585785 13.5858C-0.195263 14.3668 -0.195263 15.6332 0.585785 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857864C15.3611 0.0768156 14.0948 0.0768156 13.3137 0.857864L0.585785 13.5858ZM38 13L2 13L2 17L38 17L38 13Z" fill="white"/>
  </svg>
  </div>
  <div data-layer="sort" className="Sort" style={{width: 33, height: 35, paddingTop: 7.14, paddingBottom: 25.57, left: 59, top: 460, position: 'absolute', flexDirection: 'column', justifyContent: 'flex-start', alignItems: 'center', display: 'inline-flex'}}>
    <div data-layer="Vector" className="Vector" style={{width: 2, height: 2, transform: 'rotate(-9deg)', transformOrigin: 'top left', background: '#2E4454', borderRadius: 9999}} />
  </div>
  <div data-svg-wrapper data-layer="breather" className="Breather" style={{left: 57, top: 447, position: 'absolute'}}>
  <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M43.2994 43.2994C47.4897 39.1092 49.8438 33.4259 49.8438 27.5C49.8438 21.5741 47.4897 15.8908 43.2994 11.7006C39.1091 7.51031 33.4259 5.15625 27.5 5.15625C21.5741 5.15625 15.8908 7.51032 11.7006 11.7006C7.51031 15.8909 5.15625 21.5741 5.15625 27.5C5.15625 33.4259 7.51032 39.1092 11.7006 43.2994C15.8909 47.4897 21.5741 49.8438 27.5 49.8438C33.4259 49.8438 39.1092 47.4897 43.2994 43.2994Z" stroke="#2E4454" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  </div>
  <div data-svg-wrapper data-layer="phone" className="Phone" style={{left: 53, top: 527, position: 'absolute'}}>
  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M30 50H34M22 6H42C44.2091 6 46 7.79086 46 10V54C46 56.2091 44.2091 58 42 58H22C19.7909 58 18 56.2091 18 54V10C18 7.79086 19.7909 6 22 6Z" stroke="#2E4454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  </div>
</div>

